/*-----------------------------------------*/
/* BASIC SETUP ----------------------------*/
/*----------- color  #f39c12------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  color: #555555;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/*--------------------------*/
/* REUSABLE COMPONENTS  ----*/
/*--------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0px;
}

.box {
  padding: 1%;
}

.clear_fix {
  zoom: 1;
}
.clear_fix:after {
  content: "";
  display: table;
  clear: both;
}

/*---------------PARAGRAPH----------------*/
.long_copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/*---------------PARAGRAPH----------------*/

.icon_big {
  font-size: 350%;
  display: block;
  color: #e8930c;
  margin-bottom: 10px;
}

/*--------------------------*/
/*HEADER SETUP -------------*/
/*--------------------------*/

header {
  background-image: linear-gradient(#00000011, #000000), url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero_text_box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main_nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}
.main_nav li {
  display: inline-block;
  margin-left: 40px;
}
.main_nav li a:link,
.main_nav li a:visited {
  padding: 8px 0px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main_nav li a:hover,
.main_nav li a:active {
  border-bottom: 2px solid #f39c12;
}

/*---------------HEADINGS----------------*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0px;
  color: #ffffff;
  font-size: 200%;
  margin-bottom: 20px;
  word-spacing: 4px;
  letter-spacing: 1.2px;
}
h2 {
  font-size: 150%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
h2:after {
  background-color: #e8930c;
  width: 100px;
  content: " ";
  height: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

/*--------------------------*/
/* BUTTONS     -------------*/
/*--------------------------*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.5s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #f39c12;
  color: #ffffff;
  margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #f39c12;
  color: #f39c12;
}

.btn:hover,
.btn:active {
  background-color: #e8930c;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #f39c12;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #f39c12;
  color: #ffffff;
}

/*--------------------------*/
/*FEATURES -------------*/
/*--------------------------*/

.section_meals .long_copy {
  margin-bottom: 30px;
}

/*--------------------------*/
/*MEALS SHOW CASE -------------*/
/*--------------------------*/
.section_meals {
  padding: 0;
}

.meals_showcase {
  list-style: none;
  width: 100%;
}

.meals_showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal_photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000000;
}
.meal_photo img {
  width: 100%;
  height: auto;
  transform: scale(1.05);
  opacity: 0.8;
  transition: transform 0.5s ease-in, opacity 0.5s;
}

.meal_photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/*--------------------------*/
/*STEPS SECTION  -------------*/
/*--------------------------*/

.steps {
  background-color: rgba(255, 255, 255, 0.041);
}

.step_box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}
.step_box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app_screen {
  width: 40%;
}

.work_steps {
  margin-bottom: 50px;
}

.work_steps div {
  border: 2px solid #e8930c;
  text-align: center;
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  padding: 7px;
  float: left;
  font-size: 150%;
  margin-right: 10px;
}

.work_steps:last-of-type {
  margin-bottom: 100px;
}
