/*-----------------------------------------*/
/* BASIC SETUP ----------------------------*/
/*----------- color  #f39c12------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  color: #555555;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/*--------------------------*/
/* REUSABLE COMPONENTS  ----*/
/*--------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0px;
}

.box {
  padding: 1%;
}

.clear_fix {
  zoom: 1;
}
.clear_fix:after {
  content: "";
  display: table;
  clear: both;
}

/* secrets to align text and icons */

.icon_small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e8930c;
  font-size: 1.2em;
  line-height: 1.2em;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}

/********Links************************/

a:link,
a:visited {
  color: #e8930c;
  text-decoration: none;
  border-bottom: 1px solid #e8930c;
  padding: 1px;
  transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active {
  color: black;
  border-bottom: 1px solid transparent;
}

/*---------------PARAGRAPH----------------*/
.long_copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/*---------------PARAGRAPH----------------*/

.icon_big {
  font-size: 350%;
  display: block;
  color: #e8930c;
  margin-bottom: 10px;
}

/*--------------------------*/
/*HEADER SETUP -------------*/
/*--------------------------*/

header {
  background-image: -webkit-linear-gradient(#a0a0a011, #000000),
    url("images/hero.jpg");
  background-image: linear-gradient(#a0a0a011, #000000), url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero_text_box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main_nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}
.main_nav li {
  display: inline-block;
  margin-left: 40px;
}
.main_nav li a:link,
.main_nav li a:visited {
  padding: 8px 0px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main_nav li a:hover,
.main_nav li a:active {
  border-bottom: 2px solid #f39c12;
}

/*---------------HEADINGS----------------*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0px;
  color: #ffffff;
  font-size: 200%;
  margin-bottom: 20px;
  word-spacing: 4px;
  letter-spacing: 1.2px;
}
h2 {
  font-size: 150%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
h2:after {
  background-color: #e8930c;
  width: 100px;
  content: " ";
  height: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

/*--------------------------*/
/* BUTTONS     -------------*/
/*--------------------------*/
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.5s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #f39c12;
  color: #ffffff;
  margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #f39c12;
  color: #f39c12;
}

.btn:hover,
.btn:active {
  background-color: #e8930c;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  border: 1px solid #f39c12;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #f39c12;
  color: #ffffff;
}

/*--------------------------*/
/*FEATURES -------------*/
/*--------------------------*/

.section_meals .long_copy {
  margin-bottom: 30px;
}

/*--------------------------*/
/*MEALS SHOW CASE -------------*/
/*--------------------------*/
.section_meals {
  padding: 0;
}

.meals_showcase {
  list-style: none;
  width: 100%;
}

.meals_showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal_photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000000;
}
.meal_photo img {
  width: 100%;
  height: auto;
  transform: scale(1.05);
  opacity: 0.8;
  transition: transform 0.5s ease-in, opacity 0.5s;
}

.meal_photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

.steps {
  background-color: rgb(242, 242, 242);
}

.step_box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}
.step_box:last-child {
  text-align: left;
  padding-left: 3%;
  margin-top: 70px;
}

.app_screen {
  width: 40%;
}

.work_steps {
  margin-bottom: 50px;
}

.work_steps div {
  color: #e67e22;
  font-size: 150%;
  height: 54px;
  width: 54px;
  border: 2px solid #e67e22;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 25px;
  float: left;
  padding: 5px;
}

.work_steps:last-of-type {
  margin-bottom: 80px;
}

.btn_app:link,
.btn_app:visited {
  border-bottom: none;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/*--------------------------*/
/*CITIES SECTION -------------*/
/*--------------------------*/

.section_cities img {
  width: 500px;
  height: auto;
}

.section_cities .box img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.city_feature {
  margin-bottom: 16px;
}

/*--------------------------*/
/*TESTIMONIALS -------------*/
/*--------------------------*/
.section_testimonials {
  width: 100%;
  background-image: linear-gradient(#00000011, #000000),
    url("images/back-customers.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  background-position: center;
}

.section_testimonials blockquote {
  padding: 6px;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 16px;
}
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 500%;
  margin-bottom: 10px;
  position: absolute;
  padding-top: 3px;
  left: -3px;
  top: 0px;
}

/*--------------------------*/
/*PLANS-------------*/
/*--------------------------*/

.section_plans {
  background-color: rgb(242, 242, 242);
}
.plan_box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0px 2px 2px rgb(222, 222, 222);
}

.plan_box div {
  padding: 15px;
  border: 1px solid rgb(247, 247, 247);
}

.plan_price {
  font-size: 200%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #cf840ac5;
}
.plan_price_meal {
  font-size: 80%;
}
.plan_price span {
  font-size: 50%;
  font-weight: 300;
}

.plan_box ul {
  list-style: none;
}

.plan_box li {
  padding: 5px 0px;
}
.plan_box div:last-of-type {
  text-align: center;
  border: none;
}
.plan_box div:first-child {
  background-color: rgb(250, 250, 250);
  border-radius: 5px 5px 0px 0px;
}

/*--------------------------*/
/*CONTACT FORM  -------------*/
/*--------------------------*/

.contact_form {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgb(197, 197, 197);
}

input[type="submit"] {
  border: transparent;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0px;
}

*:focus {
  outline: none;
}
.submit_container {
  text-align: center;
}

/*--------------------------*/
/*FOOTER SECTION  -------------*/
/*--------------------------*/

footer {
  background-color: rgb(45, 45, 45);
  color: #ffffff;
  padding: 60px;
  font-size: 80%;
}
.footer_nav {
  list-style: none;
  float: left;
}
.footer_nav li a:link,
.footer_nav li a:visited,
.social_links li a:link,
.social_links li a:visited {
  text-decoration: none;
  border-bottom: none;
  color: #888888;
  transition: color 0.5s;
}

.social_links li a:hover,
.social_links li a:active,
.footer_nav li a:hover,
.footer_nav li a:active {
  color: #ddd;
}
.footer_nav li,
.social_links li {
  margin-right: 20px;
  display: inline-block;
}
.social_links {
  list-style: none;
  float: right;
}
.social_links li:last-of-type,
.footer_nav li:last-child {
  margin-right: 0px;
}

.foot_note {
  text-align: center;
  color: #ddd;
  padding: 26px;
}
